* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 90%;
}
button {
    background-color: transparent;
    border: none;
    color: #fff;
}
.primary {
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #0d6efd;
    color: #fff;
}
.primary:hover {
    background-color: #0b5ed7;
}
.secondary {
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #6c757d;
    color: #fff;
}
.secondary:hover {
    background-color: #5c636a;
}
.success { 
    background-color: #198754;
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    
}
.success:hover {
    background-color: #157347;
}
.danger {
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #dc3545;
    color: #fff;  
 }
 .danger:hover {
    background-color: #bb2d3b;
    color: #fff;
 }
.warning {
    color: #ffc107;
    
}
.warning:hover {
    color: #ffca2c;
}
.main-div {
    display: flex;
}
.rabbitList,
.dashboard-div,
.delivery-div,
.addRabbit-div,
.breeding-div,
.breed-data-div, 
.breed-pair-div,
.edit-breed-div,
.request-div {
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;
    padding: 30px;
}

/* Dashboard */

.dashboard-card {
    width: 100%;
    padding: 10px;
    color: #fff;
}

/* Activity.jsx */
.activity-div {
    width: 40%;
    background-color: red;
}
.user-container {
    display: flex;
    flex-direction: column;
}
.user-container .user {
    display: flex;
    gap: 10px;
    width: auto;
    height: auto;
}
.user-container .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-container .user p {
    margin-bottom: 8px;
}

/* RabbitList.jsx */

.actions {
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-filter-div {
    width: 30%;
}
.rabbitList table thead tr th {
    background-color: #00828c;
    color: #fff;
}

/*  AddRabbit.jsx */
.addRabbit {
    align-self: flex-end;
    margin-bottom: 10px;
}
.addRabbit-div .form {
    width: 30%;
}

/* Breeding.jsx */
.breed-btn {
    margin-bottom: 20px;
}
.view {
    color: #fff;
}

/* AddBreedPair.jsx */
.breed-ground {
    display: flex;
    width: 100%;
    gap: 50px;
}
.breed-ground .ground span {
    align-self: center;
}
.ground {
    width: 50%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.center-ground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.cancel {
    margin-top: 50px;
    margin-right: 20px;
}
.pair {
    margin-top: 50px;
}

/* Breeding Data.jsx */
.breed-data {
    display: flex;
    width: 100%;
}
.breed-data>div {
    width: 20%;
}


/* Request */

.request-div table thead tr th {
    background-color: #00828c;
    color: #fff;
}

